body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(#ffe6eb, #fff);
    text-align: center;
}

.page {
    display: none;
    height: 100vh;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page.active {
    display: flex;
}

h1, h2 {
    color: #ff2f68;
}

.romantic {
    font-size: 20px;
    max-width: 600px;
}

button {
    padding: 14px 28px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background: #ff4d6d;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e63950;
}

.msg {
    margin-top: 15px;
    color: #ff2f68;
    font-size: 16px;
}
